.header {
  width: 100%;
  display: none;
  background-color: var(--bg-color);
  padding: 1rem 0;
  position: fixed;
  z-index: 2;
}

.web__nav {
  display: none;
  justify-content: space-between;
}

.nav__logo {
  width: 200px;
}

.nav__links {
  display: none;
}

.nav__links li {
  list-style: none;
}

.nav__mobile {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0.5rem;
  z-index: 2;
  background-color: var(--bg-color-light);
}

.nav__mobile__active {
  color: var(--primary);
}

@media only screen and (min-width: 768px) {
  .header{
    display: block;
  }
  .web__nav {
    display: flex;
  }
  .nav__mobile {
    display: none;
  }
  .nav__links {
    display: flex;
    gap: 2rem;
  }
}
